src/resources/EventSummary/cdar2/POCD_MT000040-AU-V1_0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ext="http://ns.electronichealth.net.au/Ci/Cda/Extensions/3.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3"
  xmlns="urn:hl7-org:v3">
  <!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
    -->
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
      RoseTreeToMIFStaticModel.xsl version: 1.1
      StaticMifToXsd.xsl version 2.0
    </xs:documentation>
  </xs:annotation>
  <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
    <xs:complexContent>
      <xs:restriction base="II">
        <xs:attribute fixed="2.16.840.1.113883.1.3" name="root" type="uid" use="required"/>
        <xs:attribute name="extension" type="st" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Act">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="x_ActClassDocumentEntryAct" use="required"/>
    <xs:attribute name="moodCode" type="x_DocumentActMood" use="required"/>
    <xs:attribute name="negationInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="statusCode" type="CS"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="priorityCode" type="CE"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.AssignedAuthor">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClassAssignedEntity" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="assignedPerson" type="POCD_MT000040.Person"/>
        <xs:element minOccurs="0" name="assignedAuthoringDevice"
          type="POCD_MT000040.AuthoringDevice"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="representedOrganization" type="POCD_MT000040.Organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.AssignedCustodian">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClassAssignedEntity" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="representedCustodianOrganization"
        type="POCD_MT000040.CustodianOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.AssignedEntity">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ASSIGNED" name="classCode" type="RoleClassAssignedEntity" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element minOccurs="0" name="assignedPerson" type="POCD_MT000040.Person"/>
      <xs:element minOccurs="0" name="representedOrganization" type="POCD_MT000040.Organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.AssociatedEntity">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="RoleClassAssociative" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element minOccurs="0" name="associatedPerson" type="POCD_MT000040.Person"/>
      <xs:element minOccurs="0" name="scopingOrganization" type="POCD_MT000040.Organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Authenticator">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="AUTHEN" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="time" type="TS"/>
      <xs:element name="signatureCode" type="CS"/>
      <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Author">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="functionCode" type="CE"/>
      <xs:element name="time" type="TS"/>
      <xs:element name="assignedAuthor" type="POCD_MT000040.AssignedAuthor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.AuthoringDevice">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="DEV" name="classCode" type="EntityClassDevice" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="manufacturerModelName" type="SC"/>
      <xs:element minOccurs="0" name="softwareName" type="SC"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="asMaintainedEntity"
        type="POCD_MT000040.MaintainedEntity"/>
      <!-- Extension: start asEntityIdentifier -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asEntityIdentifier"/>
      <!-- Extension: end asEntityIdentifier -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Authorization">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="AUTH" name="typeCode" type="ActRelationshipType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="consent" type="POCD_MT000040.Consent"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Birthplace">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="BIRTHPL" name="classCode" type="RoleClass" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="place" type="POCD_MT000040.Place"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ClinicalDocument">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="DOCCLIN" name="classCode" type="ActClassClinicalDocument" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="id" type="II"/>
      <xs:element name="code" type="CE"/>
      <xs:element minOccurs="0" name="title" type="ST"/>
      <xs:element name="effectiveTime" type="TS"/>
      <xs:element name="confidentialityCode" type="CE"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element minOccurs="0" name="setId" type="II"/>
      <xs:element minOccurs="0" name="versionNumber" type="INT"/>

      <!-- extension ClinicalDocument.completionCode -->
      <xs:element minOccurs="0" ref="ext:completionCode"/>
      <!-- Extension: end ClinicalDocument.completionCode -->

      <xs:element minOccurs="0" name="copyTime" type="TS"/>
      <xs:element maxOccurs="unbounded" name="recordTarget" type="POCD_MT000040.RecordTarget"/>
      <xs:element maxOccurs="unbounded" name="author" type="POCD_MT000040.Author"/>
      <xs:element minOccurs="0" name="dataEnterer" type="POCD_MT000040.DataEnterer"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element name="custodian" type="POCD_MT000040.Custodian"/>
      <xs:element maxOccurs="unbounded" minOccurs="0"
        name="informationRecipient" type="POCD_MT000040.InformationRecipient"/>
      <xs:element minOccurs="0" name="legalAuthenticator" type="POCD_MT000040.LegalAuthenticator"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authenticator"
        type="POCD_MT000040.Authenticator"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant1"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="inFulfillmentOf"
        type="POCD_MT000040.InFulfillmentOf"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documentationOf"
        type="POCD_MT000040.DocumentationOf"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedDocument"
        type="POCD_MT000040.RelatedDocument"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authorization"
        type="POCD_MT000040.Authorization"/>
      <xs:element minOccurs="0" name="componentOf" type="POCD_MT000040.Component1"/>
      <xs:element name="component" type="POCD_MT000040.Component2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Component1">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipHasComponent" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="encompassingEncounter" type="POCD_MT000040.EncompassingEncounter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Component2">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipHasComponent" use="optional"/>
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="nonXMLBody" type="POCD_MT000040.NonXMLBody"/>
        <xs:element name="structuredBody" type="POCD_MT000040.StructuredBody"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Component3">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipHasComponent" use="optional"/>
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="section" type="POCD_MT000040.Section"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Component4">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipHasComponent" use="optional"/>
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="act" type="POCD_MT000040.Act"/>
        <xs:element name="encounter" type="POCD_MT000040.Encounter"/>
        <xs:element name="observation" type="POCD_MT000040.Observation"/>
        <xs:element name="observationMedia" type="POCD_MT000040.ObservationMedia"/>
        <xs:element name="organizer" type="POCD_MT000040.Organizer"/>
        <xs:element name="procedure" type="POCD_MT000040.Procedure"/>
        <xs:element name="regionOfInterest" type="POCD_MT000040.RegionOfInterest"/>
        <xs:element name="substanceAdministration" type="POCD_MT000040.SubstanceAdministration"/>
        <xs:element name="supply" type="POCD_MT000040.Supply"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
      <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Component5">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="COMP" name="typeCode" type="ActRelationshipHasComponent" use="optional"/>
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="section" type="POCD_MT000040.Section"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Consent">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="CONS" name="classCode" type="ActClass" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element name="statusCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Consumable">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="CSM" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="manufacturedProduct" type="POCD_MT000040.ManufacturedProduct"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Criterion">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="OBS" name="classCode" type="ActClassObservation" use="optional"/>
    <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="value" type="ANY"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Custodian">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="CST" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="assignedCustodian" type="POCD_MT000040.AssignedCustodian"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.CustodianOrganization">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ORG" name="classCode" type="EntityClassOrganization" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" name="id" type="II"/>
      <xs:element minOccurs="0" name="name" type="ON"/>
      <xs:element minOccurs="0" name="telecom" type="TEL"/>
      <xs:element minOccurs="0" name="addr" type="AD"/>

      <!-- Extension: start asEntityIdentifier -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asEntityIdentifier"/>
      <!-- Extension: end asEntityIdentifier -->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.DataEnterer">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ENT" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="time" type="TS"/>
      <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Device">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="DEV" name="classCode" type="EntityClassDevice" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="manufacturerModelName" type="SC"/>
      <xs:element minOccurs="0" name="softwareName" type="SC"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.DocumentationOf">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="DOC" name="typeCode" type="ActRelationshipType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="serviceEvent" type="POCD_MT000040.ServiceEvent"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.EncompassingEncounter">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ENC" name="classCode" type="ActClass" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="dischargeDispositionCode" type="CE"/>
      <xs:element minOccurs="0" name="responsibleParty" type="POCD_MT000040.ResponsibleParty"/>
      <xs:element maxOccurs="unbounded" minOccurs="0"
        name="encounterParticipant" type="POCD_MT000040.EncounterParticipant"/>
      <xs:element minOccurs="0" name="location" type="POCD_MT000040.Location"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Encounter">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="ActClass" use="required"/>
    <xs:attribute name="moodCode" type="x_DocumentEncounterMood" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="statusCode" type="CS"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="priorityCode" type="CE"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.EncounterParticipant">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="typeCode" type="x_EncounterParticipant" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="time" type="IVL_TS"/>
      <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Entity">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="ENT" name="classCode" type="EntityClassRoot" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>

      <!-- Extension: start name -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:name"/>
      <!-- Extension: end name -->

      <xs:element minOccurs="0" name="desc" type="ED"/>

      <!-- Extension: start telecom -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:telecom"/>
      <!-- Extension: end telecom -->

      <!-- Extension: start addr -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:addr"/>
      <!-- Extension: end addr -->

      <!-- Extension: start asOrganizationPartOf -->
      <xs:element minOccurs="0" name="asOrganizationPartOf" type="ext:OrganizationPartOf"/>
      <!-- Extension: end asOrganizationPartOf -->

      <!-- Extension: start asEntityIdentifier -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asEntityIdentifier"/>
      <!-- Extension: end asEntityIdentifier -->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Entry">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="COMP" name="typeCode" type="x_ActRelationshipEntry" use="optional"/>
    <xs:attribute fixed="true" name="contextConductionInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="act" type="POCD_MT000040.Act"/>
        <xs:element name="encounter" type="POCD_MT000040.Encounter"/>
        <xs:element name="observation" type="POCD_MT000040.Observation"/>
        <xs:element name="observationMedia" type="POCD_MT000040.ObservationMedia"/>
        <xs:element name="organizer" type="POCD_MT000040.Organizer"/>
        <xs:element name="procedure" type="POCD_MT000040.Procedure"/>
        <xs:element name="regionOfInterest" type="POCD_MT000040.RegionOfInterest"/>
        <xs:element name="substanceAdministration" type="POCD_MT000040.SubstanceAdministration"/>
        <xs:element name="supply" type="POCD_MT000040.Supply"/>

        <!-- Begin Extension controlAct -->
        <xs:element ref="ext:controlAct"/>
        <!-- End Extension controlAct -->

      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.EntryRelationship">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="typeCode" type="x_ActRelationshipEntryRelationship" use="required"/>
    <xs:attribute name="inversionInd" type="bl" use="optional"/>
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    <xs:attribute name="negationInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="act" type="POCD_MT000040.Act"/>
        <xs:element name="encounter" type="POCD_MT000040.Encounter"/>
        <xs:element name="observation" type="POCD_MT000040.Observation"/>
        <xs:element name="observationMedia" type="POCD_MT000040.ObservationMedia"/>
        <xs:element name="organizer" type="POCD_MT000040.Organizer"/>
        <xs:element name="procedure" type="POCD_MT000040.Procedure"/>
        <xs:element name="regionOfInterest" type="POCD_MT000040.RegionOfInterest"/>
        <xs:element name="substanceAdministration" type="POCD_MT000040.SubstanceAdministration"/>
        <xs:element name="supply" type="POCD_MT000040.Supply"/>

        <!-- Begin Extension controlAct -->
        <xs:element ref="ext:controlAct"/>
        <!-- End Extension controlAct -->
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
      <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ExternalAct">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="ACT" name="classCode" type="ActClassRoot" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ExternalDocument">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="DOC" name="classCode" type="ActClassDocument" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="setId" type="II"/>
      <xs:element minOccurs="0" name="versionNumber" type="INT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ExternalObservation">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="OBS" name="classCode" type="ActClassObservation" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ExternalProcedure">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PROC" name="classCode" type="ActClass" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Guardian">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="GUARD" name="classCode" type="RoleClass" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="guardianPerson" type="POCD_MT000040.Person"/>
        <xs:element name="guardianOrganization" type="POCD_MT000040.Organization"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.HealthCareFacility">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="SDLOC" name="classCode" type="RoleClassServiceDeliveryLocation"
      use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="location" type="POCD_MT000040.Place"/>
      <xs:element minOccurs="0" name="serviceProviderOrganization"
        type="POCD_MT000040.Organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Informant12">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="INF" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
        <xs:element name="relatedEntity" type="POCD_MT000040.RelatedEntity"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.InformationRecipient">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="PRCP" name="typeCode" type="x_InformationRecipient" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="intendedRecipient" type="POCD_MT000040.IntendedRecipient"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.InFulfillmentOf">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="FLFS" name="typeCode" type="ActRelationshipFulfills" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="order" type="POCD_MT000040.Order"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.IntendedRecipient">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="ASSIGNED" name="classCode" type="x_InformationRecipientRole"
      use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>

      <!-- extension IntendedRecipient.code-->
      <xs:element minOccurs="0" ref="ext:code"/>
      <!-- Extension: end IntendedRecipient.code -->

      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element minOccurs="0" name="informationRecipient" type="POCD_MT000040.Person"/>
      <xs:element minOccurs="0" name="receivedOrganization" type="POCD_MT000040.Organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.LabeledDrug">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="MMAT" name="classCode" type="EntityClassManufacturedMaterial"
      use="optional"/>
    <xs:attribute fixed="KIND" name="determinerCode" type="EntityDeterminerDetermined"
      use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="name" type="EN"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.LanguageCommunication">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element minOccurs="0" name="modeCode" type="CE"/>
      <xs:element minOccurs="0" name="proficiencyLevelCode" type="CE"/>
      <xs:element minOccurs="0" name="preferenceInd" type="BL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.LegalAuthenticator">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="LA" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="time" type="TS"/>
      <xs:element name="signatureCode" type="CS"/>
      <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Location">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="LOC" name="typeCode" type="ParticipationTargetLocation" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="healthCareFacility" type="POCD_MT000040.HealthCareFacility"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.MaintainedEntity">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="MNT" name="classCode" type="RoleClass" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element name="maintainingPerson" type="POCD_MT000040.Person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ManufacturedProduct">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="MANU" name="classCode" type="RoleClassManufacturedProduct" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="manufacturedLabeledDrug" type="POCD_MT000040.LabeledDrug"/>
        <xs:element name="manufacturedMaterial" type="POCD_MT000040.Material"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="manufacturerOrganization" type="POCD_MT000040.Organization"/>

      <!-- Extension: Begin Subject to Regulation 24 & State Authority Number-->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:subjectOf1"/>
      <!-- Extension: End Subject to Regulation 24 & State Authority Number-->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Material">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="MMAT" name="classCode" type="EntityClassManufacturedMaterial"
      use="optional"/>
    <xs:attribute fixed="KIND" name="determinerCode" type="EntityDeterminerDetermined"
      use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="name" type="EN"/>
      <!-- Extension: start desc -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:desc"/>
      <!-- Extension: end desc -->

      <xs:element minOccurs="0" name="lotNumberText" type="ST"/>

      <!-- Extension: start asIngredient -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asIngredient"/>
      <!-- Extension: end asIngredient -->

      <!-- BEGIN NEW EXTENSION FOR formCode -->
      <!-- Extension: Start formCode -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:formCode"/>
      <!-- Extension: End formCode -->
      <!-- END NEW EXTENSION FOR formCode -->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.NonXMLBody">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="DOCBODY" name="classCode" type="ActClass" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="text" type="ED"/>
      <xs:element minOccurs="0" name="confidentialityCode" type="CE"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Observation">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
    <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required"/>
    <xs:attribute name="negationInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element name="code" type="CD"/>
      <xs:element minOccurs="0" name="derivationExpr" type="ST"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="statusCode" type="CS"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="priorityCode" type="CE"/>
      <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="ANY"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="interpretationCode" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="methodCode" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="targetSiteCode" type="CD"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="referenceRange"
        type="POCD_MT000040.ReferenceRange"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ObservationMedia">
    <xs:attribute name="ID" type="xs:ID"/>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
    <xs:attribute name="moodCode" type="ActMood" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element name="value" type="ED"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ObservationRange">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="OBS" name="classCode" type="ActClassObservation" use="optional"/>
    <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="value" type="ANY"/>
      <xs:element minOccurs="0" name="interpretationCode" type="CE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Order">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="ACT" name="classCode" type="ActClassRoot" use="optional"/>
    <xs:attribute fixed="RQO" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="priorityCode" type="CE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Organization">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ORG" name="classCode" type="EntityClassOrganization" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="ON"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element minOccurs="0" name="standardIndustryClassCode" type="CE"/>
      <xs:element minOccurs="0" name="asOrganizationPartOf"
        type="POCD_MT000040.OrganizationPartOf"/>

      <!-- Extension: start asEntityIdentifier -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asEntityIdentifier"/>
      <!-- Extension: end asEntityIdentifier -->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.OrganizationPartOf">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PART" name="classCode" type="RoleClass" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="statusCode" type="CS"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="wholeOrganization" type="POCD_MT000040.Organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Organizer">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="x_ActClassDocumentEntryOrganizer" use="required"/>
    <xs:attribute name="moodCode" type="ActMood" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element name="statusCode" type="CS"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="component"
        type="POCD_MT000040.Component4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ParentDocument">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="DOCCLIN" name="classCode" type="ActClassClinicalDocument" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="setId" type="II"/>
      <xs:element minOccurs="0" name="versionNumber" type="INT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Participant1">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="functionCode" type="CE"/>
      <xs:element minOccurs="0" name="time" type="IVL_TS"/>
      <xs:element name="associatedEntity" type="POCD_MT000040.AssociatedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Participant2">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="time" type="IVL_TS"/>
      <xs:element minOccurs="0" name="awarenessCode" type="CE"/>
      <xs:element name="participantRole" type="POCD_MT000040.ParticipantRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ParticipantRole">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="ROL" name="classCode" type="RoleClassRoot" use="optional"/>
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="playingDevice" type="POCD_MT000040.Device"/>
        <xs:element minOccurs="0" name="playingEntity" type="POCD_MT000040.PlayingEntity"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="scopingEntity" type="POCD_MT000040.Entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Patient">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="id" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="PN"/>

      <!-- Extension (in this extension we are simply constraining this to be mandatory) -->
      <xs:element minOccurs="1" name="administrativeGenderCode" type="CE"/>
      <!-- Extension  -->

      <xs:element minOccurs="0" name="birthTime" type="TS"/>
      <xs:element minOccurs="0" name="maritalStatusCode" type="CE"/>
      <xs:element minOccurs="0" name="religiousAffiliationCode" type="CE"/>
      <xs:element minOccurs="0" name="raceCode" type="CE"/>
      <xs:element minOccurs="0" name="ethnicGroupCode" type="CE"/>

      <!-- Extension: start multipleBirthInd -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:multipleBirthInd"/>
      <!-- Extension: end multipleBirthInd -->

      <!-- Extension: start multipleBirthOrderNumber -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:multipleBirthOrderNumber"/>
      <!-- Extension: end multipleBirthOrderNumber -->

      <!-- Extension: start deceasedTime -->
      <xs:element minOccurs="0" ref="ext:deceasedInd"/>
      <xs:element minOccurs="0" ref="ext:deceasedTime"/>
      <!-- extension: end -->

      <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian"
        type="POCD_MT000040.Guardian"/>
      <xs:element minOccurs="0" name="birthplace" type="POCD_MT000040.Birthplace"/>

      <!-- Extension: start asEntityIdentifier -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asEntityIdentifier"/>
      <!-- Extension: end asEntityIdentifier -->


      <!-- Extension: start asEmployment -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:asEmployment"/>
      <!-- Extension: end asEmployment -->

      <!-- NEW EXTENSION FOR PERSONALRELATIONSHIP -->
      <!-- Extensions: start PersonalRelationShip -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:personalRelationship"></xs:element>
      <!-- Extensions: end PersonalRelationShip -->

      <xs:element maxOccurs="unbounded" minOccurs="0"
        name="languageCommunication" type="POCD_MT000040.LanguageCommunication"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.PatientRole">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PAT" name="classCode" type="RoleClass" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" name="id" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element minOccurs="0" name="patient" type="POCD_MT000040.Patient"/>
      <xs:element minOccurs="0" name="providerOrganization" type="POCD_MT000040.Organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Performer1">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="typeCode" type="x_ServiceEventPerformer" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="functionCode" type="CE"/>
      <xs:element minOccurs="0" name="time" type="IVL_TS"/>
      <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Performer2">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PRF" name="typeCode" type="ParticipationPhysicalPerformer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="time" type="IVL_TS"/>
      <xs:element minOccurs="0" name="modeCode" type="CE"/>
      <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Person">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="PN"/>

      <!-- Extension: start administrativeGenderCode -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:administrativeGenderCode"/>
      <!-- Extension: end administrativeGenderCode -->

      <!-- Extension: start birthTime -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:birthTime"/>
      <!-- Extension: end birthTime -->

      <!-- Extension: start asEntityIdentifier -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asEntityIdentifier"/>
      <!-- Extension: end asEntityIdentifier -->

      <!-- Extension: start asEmployment -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:asEmployment"/>
      <!-- Extension: end asEmployment -->

      <!-- Extension: start asQualifications -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:asQualifications"/>
      <!-- Extension: end asQualifications -->

      <!-- NEW EXTENSION FOR PERSONALRELATIONSHIP -->
      <!-- Extensions: start PersonalRelationShip -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:personalRelationship"></xs:element>
      <!-- Extensions: end PersonalRelationShip -->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Place">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PLC" name="classCode" type="EntityClassPlace" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="name" type="EN"/>
      <xs:element minOccurs="0" name="addr" type="AD"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.PlayingEntity">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="ENT" name="classCode" type="EntityClassRoot" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="quantity" type="PQ"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="PN"/>
      <xs:element minOccurs="0" name="desc" type="ED"/>

      <!-- Extension: start administrativeGenderCode -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:administrativeGenderCode"/>
      <!-- Extension: end administrativeGenderCode -->

      <!-- Extension: start birthTime -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:birthTime"/>
      <!-- Extension: end birthTime -->

      <!-- Extension: start asEntityIdentifier -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:asEntityIdentifier"/>
      <!-- Extension: end asEntityIdentifier -->

      <!-- Extension: asSpecimenInContainer -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:asSpecimenInContainer"/>
      <!-- End Extension: asSpecimenInContainer -->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Precondition">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="criterion" type="POCD_MT000040.Criterion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Procedure">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="ActClass" use="required"/>
    <xs:attribute name="moodCode" type="x_DocumentProcedureMood" use="required"/>
    <xs:attribute name="negationInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="statusCode" type="CS"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="priorityCode" type="CE"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="methodCode" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="approachSiteCode" type="CD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="targetSiteCode" type="CD"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Product">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="manufacturedProduct" type="POCD_MT000040.ManufacturedProduct"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.RecordTarget">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="RCT" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="patientRole" type="POCD_MT000040.PatientRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Reference">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="typeCode" type="x_ActRelationshipExternalReference" use="required"/>
    <xs:sequence>
      <xs:choice>
        <xs:element name="externalAct" type="POCD_MT000040.ExternalAct"/>
        <xs:element name="externalObservation" type="POCD_MT000040.ExternalObservation"/>
        <xs:element name="externalProcedure" type="POCD_MT000040.ExternalProcedure"/>
        <xs:element name="externalDocument" type="POCD_MT000040.ExternalDocument"/>
      </xs:choice>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ReferenceRange">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="REFV" name="typeCode" type="ActRelationshipType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="observationRange" type="POCD_MT000040.ObservationRange"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.RegionOfInterest.value">
    <xs:complexContent>
      <xs:extension base="INT">
        <xs:attribute default="false" name="unsorted" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.RegionOfInterest">
    <xs:attribute name="ID" type="xs:ID"/>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="ROIOVL" name="classCode" type="ActClass" use="required"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" name="id" type="II"/>
      <xs:element name="code" type="CS"/>
      <xs:element maxOccurs="unbounded" name="value" type="POCD_MT000040.RegionOfInterest.value"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.RelatedDocument">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="parentDocument" type="POCD_MT000040.ParentDocument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.RelatedEntity">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="relatedPerson" type="POCD_MT000040.Person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.RelatedSubject">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="PRS" name="classCode" type="x_DocumentSubject" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.SubjectPerson"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ResponsibleParty">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Section">
    <xs:attribute name="ID" type="xs:ID"/>
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="DOCSECT" name="classCode" type="ActClass" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="title" type="ST"/>
      <xs:element minOccurs="0" name="text" type="StrucDoc.Text"/>
      <xs:element minOccurs="0" name="confidentialityCode" type="CE"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="POCD_MT000040.Entry"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="component"
        type="POCD_MT000040.Component5"/>

      <!-- Extension: Entitlement -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:coverage2"/>
      <!-- End Extension Entitlement -->

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.ServiceEvent">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute default="ACT" name="classCode" type="ActClassRoot" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CE"/>
      <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Specimen">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="SPC" name="typeCode" type="ParticipationType" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element name="specimenRole" type="POCD_MT000040.SpecimenRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.SpecimenRole">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="SPEC" name="classCode" type="RoleClassSpecimen" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="specimenPlayingEntity" type="POCD_MT000040.PlayingEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.StructuredBody">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="DOCBODY" name="classCode" type="ActClass" use="optional"/>
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="confidentialityCode" type="CE"/>
      <xs:element minOccurs="0" name="languageCode" type="CS"/>
      <xs:element maxOccurs="unbounded" name="component" type="POCD_MT000040.Component3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Subject">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="SBJ" name="typeCode" type="ParticipationTargetSubject" use="optional"/>
    <xs:attribute fixed="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element minOccurs="0" name="awarenessCode" type="CE"/>
      <xs:element name="relatedSubject" type="POCD_MT000040.RelatedSubject"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.SubjectPerson">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional"/>
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="PN"/>
      <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
      <xs:element minOccurs="0" name="birthTime" type="TS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.SubstanceAdministration">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="SBADM" name="classCode" type="ActClass" use="required"/>
    <xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
    <xs:attribute name="negationInd" type="bl" use="optional"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="statusCode" type="CS"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
      <xs:element minOccurs="0" name="priorityCode" type="CE"/>
      <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>

      <!-- Extension Begin: MethodCode -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:methodCode"/>
      <!-- Extension End: MethodCode -->

      <xs:element minOccurs="0" name="routeCode" type="CE"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="approachSiteCode" type="CD"/>
      <xs:element minOccurs="0" name="doseQuantity" type="IVL_PQ"/>
      <xs:element minOccurs="0" name="rateQuantity" type="IVL_PQ"/>
      <xs:element minOccurs="0" name="maxDoseQuantity" type="RTO_PQ_PQ"/>
      <xs:element minOccurs="0" name="administrationUnitCode" type="CE"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element name="consumable" type="POCD_MT000040.Consumable"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POCD_MT000040.Supply">
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    <xs:attribute fixed="SPLY" name="classCode" type="ActClassSupply" use="required"/>
    <xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="realmCode" type="CS"/>
      <xs:element minOccurs="0" name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="templateId" type="II"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
      <xs:element minOccurs="0" name="code" type="CD"/>
      <xs:element minOccurs="0" name="text" type="ED"/>
      <xs:element minOccurs="0" name="statusCode" type="CS"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
      <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
      <xs:element minOccurs="0" name="independentInd" type="BL"/>
      <xs:element minOccurs="0" name="quantity" type="PQ"/>
      <xs:element minOccurs="0" name="expectedUseTime" type="IVL_TS"/>
      <xs:element minOccurs="0" name="subject" type="POCD_MT000040.Subject"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="specimen"
        type="POCD_MT000040.Specimen"/>
      <xs:element minOccurs="0" name="product" type="POCD_MT000040.Product"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="performer"
        type="POCD_MT000040.Performer2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="author" type="POCD_MT000040.Author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informant"
        type="POCD_MT000040.Informant12"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="participant"
        type="POCD_MT000040.Participant2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entryRelationship"
        type="POCD_MT000040.EntryRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reference"
        type="POCD_MT000040.Reference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition"
        type="POCD_MT000040.Precondition"/>

      <!-- Extension Begin: SubstitutionPermission (Brand Substitute Allowed) -->
      <xs:element maxOccurs="1" minOccurs="0" ref="ext:subjectOf2"/>
      <!-- Extension End: SubstitutionPermission (Brand Substitute Allowed) -->

      <!-- Extension Begin: Coverage (Authority Approval Number & Medical Benefit Category Type) -->
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ext:coverage"/>
      <!-- Extension End: Coverage (Authority Approval Number & Medical Benefit Category Type) -->

    </xs:sequence>
  </xs:complexType>
  <xs:import namespace="http://ns.electronichealth.net.au/Ci/Cda/Extensions/3.0"
    schemaLocation="EXTENSION.xsd"/>
  <xs:include schemaLocation="datatypes-V3_0.xsd"/>
  <xs:include schemaLocation="voc-V3_0.xsd"/>
  <xs:include schemaLocation="NarrativeBlock.xsd"/>
</xs:schema>
